<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers" data-namespace-typo3-fluid="true">

<be:moduleLayout>
    <be:moduleLayout.menu identifier="BulmaWebsiteModuleMenu">
        <be:moduleLayout.menuItem label="{f:translate(key:'LLL:EXT:bulma_package/Resources/Private/Language/locallang_websitemodule.xlf:overview.title')}" uri="{f:uri.action(controller: 'WebsiteModule', action: 'overview')}"/>
        <f:if condition="!{disableCustomColorsAction}">
            <be:moduleLayout.menuItem label="{f:translate(key:'LLL:EXT:bulma_package/Resources/Private/Language/locallang_websitemodule.xlf:customColors.title')}" uri="{f:uri.action(controller: 'WebsiteModule', action: 'customColors')}"/>
        </f:if>
        <f:if condition="!{disableMetaTagsAction}">
            <be:moduleLayout.menuItem label="{f:translate(key:'LLL:EXT:bulma_package/Resources/Private/Language/locallang_websitemodule.xlf:metaTags.title')}" uri="{f:uri.action(controller: 'WebsiteModule', action: 'metaTags')}"/>
        </f:if>
    </be:moduleLayout.menu>

    <f:render section="Buttons" />
    <be:moduleLayout.button.shortcutButton displayName="Website Module" />

    <f:render section="content" />
</be:moduleLayout>

</html>
