parameters:
	level: 8

	paths:
		- .

	excludePaths:
		analyseAndScan:
			- public
			- Resources/Private/Contrib/Php
			- var
		analyse:
			- vendor

	scanDirectories:
		- .tools/fractor/vendor

	ignoreErrors:
		-
			identifier: missingType.iterableValue

	treatPhpDocTypesAsCertain: false
