<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="{layoutTheme}" />
<f:section name="Content">

    <section id="intro">
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '3'}"/>
    </section>

    <f:render partial="Navigation/Breadcrumb" arguments="{_all}" />

    <section id="content">
        <div class="container{f:if(condition: breadcrumb, then: ' after-breadcrumb')}">
            <div class="columns is-multiline is-variable is-5-desktop is-8-widescreen">
                <main id="main" class="column is-three-quarters-desktop is-full-tablet">
                    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '0'}"/>
                </main>
                <aside class="column is-one-quarter-desktop is-full-tablet">
                    <f:render partial="Navigation/Sub" arguments="{_all}" />
                    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '2'}"/>
                </aside>
            </div>
        </div>
    </section>

    <section id="outro">
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '9', slide: '2'}"/>
    </section>

</f:section>
</html>
