<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:layout name="Detail" />

<!--
	=====================
		News/Detail.html
-->

<f:section name="content">
	<f:if condition="{newsItem}">
		<f:then>
			<n:format.nothing>
				<n:excludeDisplayedNews newsItem="{newsItem}" />
				<f:if condition="{newsItem.alternativeTitle}">
					<f:then>
						<n:titleTag>
							<f:format.htmlentitiesDecode>{newsItem.alternativeTitle}</f:format.htmlentitiesDecode>
						</n:titleTag>
					</f:then>
					<f:else>
						<n:titleTag>
							<f:format.htmlentitiesDecode>{newsItem.title}</f:format.htmlentitiesDecode>
						</n:titleTag>
					</f:else>
				</f:if>
				<f:if condition="{settings.detail.showMetaTags}">
					<f:render partial="Detail/Opengraph" arguments="{newsItem: newsItem, settings:settings}" />
				</f:if>
			</n:format.nothing>
			<f:if condition="{settings.detail.showPrevNext}">
				<n:simplePrevNext pidList="{newsItem.pid}" news="{newsItem}" as="paginated" sortField="datetime">
					<f:if condition="{paginated}">
						<ul class="pager">
							<f:if condition="{paginated.prev}">
								<li class="previous">
									<n:link newsItem="{paginated.prev}" settings="{settings}">
										<span aria-hidden="true">&larr; </span>{paginated.prev.title}
									</n:link>
								</li>
							</f:if>
							<f:if condition="{paginated.next}">
								<li class="next">
									<n:link newsItem="{paginated.next}" settings="{settings}" class="next">
										{paginated.next.title} <span aria-hidden="true"> &rarr;</span>
									</n:link>
								</li>
							</f:if>
						</ul>
					</f:if>
				</n:simplePrevNext>
			</f:if>
			<header class="content">
				<h2><span itemprop="headline">{newsItem.title}</span></h2>
			</header>

			<div class="content">
				<f:render partial="General/AdditionalInformation" arguments="{settings:settings,newsItem:newsItem,showIcons:settings.detail.showIcons,linkCategories:settings.detail.linkCategories,linkTags:settings.detail.linkTags,pageData:pageData}" />
			</div>

			<f:if condition="{newsItem.teaser}">
				<!-- teaser -->
				<div class="teaser-text content" itemprop="description">
					<f:format.html>{newsItem.teaser}</f:format.html>
				</div>
			</f:if>

			<f:if condition="{newsItem.contentElements}">
				<!-- content elements -->
				<f:cObject typoscriptObjectPath="lib.tx_news.contentElementRendering">{newsItem.contentElementIdList}</f:cObject>
			</f:if>

			<!-- main text -->
			<div class="content" itemprop="articleBody">
				<f:format.html>{newsItem.bodytext}</f:format.html>
			</div>

			<div class="news-gallery">
				<f:variable name="galleryData" value="{imagecols: settings.detail.gallery.cols, image_zoom: settings.detail.gallery.lightbox}" />
				<f:render partial="Media/Gallery" arguments="{files: newsItem.mediaNonPreviews, settings:settings, data:galleryData}" />
			</div>

			<f:if condition="{settings.detail.showSocialShareButtons}">
				<f:cObject typoscriptObjectPath="lib.bulmaPackage.sharingServices" />
			</f:if>

			<!-- related things -->
			<div class="content news-related-wrap">
				<f:comment>
					Various options exist to fetch different related information:
					- {newsItem.allRelatedSorted}: all related news, related und related from, sorted by date
					- {newsItem.related}: all related
					- {newsItem.relatedSorted}: all related, sorted by date
					- {newsItem.relatedFrom}: all related from
					- {newsItem.relatedFromSorted}: all related from, sorted by date
				</f:comment>

				<f:if condition="{newsItem.allRelatedSorted}">
					<!-- Related news records -->
					<div class="news-related news-related-news">
						<h4>
							<f:translate key="related-news" />
						</h4>
						<ul class="is-unstyled">
							<f:for each="{newsItem.allRelatedSorted}" as="related">
								<li>
									<n:link newsItem="{related}" settings="{settings}" title="{related.title}">
										<span class="icon">
											<i class="far fa-newspaper"></i>
										</span>{related.title}
									</n:link> - <span class="news-related-news-date"><f:format.date format="{f:translate(key:'dateFormat')}">{related.datetime}</f:format.date></span>
								</li>

							</f:for>
						</ul>
					</div>
				</f:if>

				<f:if condition="{newsItem.relatedFiles}">
					<div class="news-related news-related-files">
						<h4>
							<f:translate key="related-files" />
						</h4>
						<!-- related files -->
						<f:variable name="filesData" value="{uploads_type: settings.detail.uploads.previewType, uploads_description: settings.detail.uploads.showDescription, filelink_size: settings.detail.uploads.showFilesize}"/>
						<f:render partial="Media/Filelist" arguments="{files: newsItem.relatedFiles, data:filesData, settings:settings}" />
					</div>
				</f:if>

				<f:if condition="{newsItem.relatedLinks}">
					<!-- Related links -->
					<div class="news-related news-related-links">
						<h4>
							<f:translate key="related-links" />
						</h4>
						<ul class="is-unstyled">
							<f:for each="{newsItem.relatedLinks}" as="relatedLink">
								<li>
									<f:link.typolink parameter="{relatedLink.uri}" title="{relatedLink.title}" target="{n:targetLink(link:relatedLink.uri)}">
										<span class="icon">
											<i class="fas fa-link"></i>
										</span>{f:if(condition: relatedLink.title, then: relatedLink.title, else: relatedLink.uri)}
									</f:link.typolink>
									<f:if condition="{relatedLink.description}">
										<p>{relatedLink.description}</p>
									</f:if>
								</li>
							</f:for>
						</ul>
					</div>
				</f:if>
			</div>
			<f:if condition="{settings.backPid}">
				<!-- Link Back -->
				<div class="news-backlink-wrap">
					<f:link.page class="button" pageUid="{settings.backPid}">
						<f:translate key="back-link" />
					</f:link.page>
				</div>
			</f:if>
		</f:then>
		<f:else>

		</f:else>
	</f:if>
</f:section>
</html>
