// Use to generate rte.css
@import "../Theme/variables";
@import "../../Contrib/bulma-scss/utilities/all";
@import "../../Contrib/bulma-scss/base/all";
@import "../../Contrib/bulma-scss/elements/content";
@import "../../Contrib/bulma-scss/elements/button";
@import "../../Contrib/bulma-scss/elements/box";
@import "../../Contrib/bulma-scss/elements/notification";
@import "../../Contrib/bulma-scss/elements/table";
@import "../../Contrib/bulma-scss/elements/title";
@import "../../Contrib/bulma-scss/helpers/color";
@import "../../Contrib/bulma-scss/helpers/typography";
@import "../Theme/content";

body{
  padding: 1rem;
  font-size: 16px;
  @extend .content;
}

// Make button selectable again
.button{
  user-select: auto;
}

a.icon-mail{
  position: relative;
  padding-left: 1em;
  &:before{
    content: "\2709";
    position: absolute;
    left: 0;
    top: 0;
  }
}

// Remove overflow to keep controls on table
.content{
  figure.table{
    overflow: initial;
    overflow-y: initial;
  }
}

blockquote{
  font-style: inherit;
}