// Use to generate rte.css
@import "../Theme/variables";
@import "../../Contrib/bulma-scss/utilities/all";
@import "../../Contrib/bulma-scss/base/all";
@import "../../Contrib/bulma-scss/elements/content";
@import "../../Contrib/bulma-scss/elements/button";
@import "../../Contrib/bulma-scss/elements/box";
@import "../../Contrib/bulma-scss/elements/notification";
@import "../../Contrib/bulma-scss/elements/table";
@import "../../Contrib/bulma-scss/elements/title";
@import "../../Contrib/bulma-scss/helpers/color";
@import "../../Contrib/bulma-scss/helpers/typography";
@import "../Theme/content";
@import "../Theme/links";

body{
  padding: 1rem;
  font-size: 16px;
  @extend .content;
}

// Make button selectable again
.button{
  user-select: auto;
}

a.icon-mail{
  &:before{
    content: "\1F4E7";
  }
}

a.icon-phone{
  &:before{
    content: "\1F4DE";
  }
}

a.icon-file{
  padding-left: 1.25em;
  &:before{
    content: "\1F4C4";
  }
}

a.icon-url{
  &:before{
    content: "\1F517";
  }
}

a.icon-location{
  &:before{
    content: "\1F4CD";
  }
}

// Remove overflow to keep controls on table
.content{
  figure.table{
    overflow: initial;
    overflow-y: initial;
  }
}

blockquote{
  font-style: inherit;
}