<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{element}">
	<f:render partial="Field/Field" arguments="{element: element}" contentAs="elementContent">
		<div class="file">
			<label class="file-label">
				<formvh:form.uploadedResource
					property="{element.identifier}"
					as="resource"
					id="{element.uniqueIdentifier}"
					class="{element.properties.elementClassAttribute}"
					errorClass="{element.properties.elementErrorClassAttribute}"
					additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
					accept="{element.properties.allowedMimeTypes}"
				>
					<f:if condition="{resource}">
						<span id="{element.uniqueIdentifier}-preview" class="file-name">
							{resource.originalResource.originalFile.name}
						</span>
					</f:if>
				</formvh:form.uploadedResource>
				<span class="file-cta">
				  <span class="file-icon">
					<i class="fas fa-upload"></i>
				  </span>
				  <span class="file-label">
					  {f:translate(key: 'form.selectfile', extensionName: 'bulma_package')}
				  </span>
				</span>
			</label>
		</div>
	</f:render>
</formvh:renderRenderable>
</html>
