<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{element}">
	<f:render partial="Field/Field" arguments="{element: element}" contentAs="elementContent">
		<div id="{element.uniqueIdentifier}" class="input-list-checkbox">
			<f:for each="{element.properties.options}" as="label" key="value" iteration="idIterator">
				<div class="form-group">
					<f:form.checkbox
							class="{element.properties.elementClassAttribute}"
							property="{element.identifier}"
							multiple="1"
							id="{element.uniqueIdentifier}-{idIterator.index}"
							value="{value}"
							errorClass="{element.properties.elementErrorClassAttribute}"
							additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
					/>
					<label for="{element.uniqueIdentifier}-{idIterator.index}">{formvh:translateElementProperty(element: element, property: '{0: \'options\', 1: value}')}</label>
				</div>
			</f:for>
		</div>
	</f:render>
</formvh:renderRenderable>
</html>
