<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{header}">
    <f:switch expression="{layout}">
        <f:case value="1">
            <h1 class="{class} is-1 {positionClass}">
                <f:link.typolink parameter="{link}"><span>{header}</span></f:link.typolink>
            </h1>
        </f:case>
        <f:case value="2">
            <h2 class="{class} is-2 {positionClass}">
                <f:link.typolink parameter="{link}"><span>{header}</span></f:link.typolink>
            </h2>
        </f:case>
        <f:case value="3">
            <h3 class="{class} is-3 {positionClass}">
                <f:link.typolink parameter="{link}"><span>{header}</span></f:link.typolink>
            </h3>
        </f:case>
        <f:case value="4">
            <h4 class="{class} is-4 {positionClass}">
                <f:link.typolink parameter="{link}"><span>{header}</span></f:link.typolink>
            </h4>
        </f:case>
        <f:case value="5">
            <h5 class="{class} is-5 {positionClass}">
                <f:link.typolink parameter="{link}"><span>{header}</span></f:link.typolink>
            </h5>
        </f:case>
        <f:case value="6">
            <h6 class="{class} is-6 {positionClass}">
                <f:link.typolink parameter="{link}"><span>{header}</span></f:link.typolink>
            </h6>
        </f:case>
        <f:case value="100">
            <f:comment> -- do not show header -- </f:comment>
        </f:case>
        <f:defaultCase>
            <f:if condition="{default}">
                <h1 class="{class} is-{default} {positionClass}">
                    <f:link.typolink parameter="{link}"><span>{header}</span></f:link.typolink>
                </h1>
            </f:if>
        </f:defaultCase>
    </f:switch>
</f:if>
</html>
