<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:asd="http://typo3.org/ns/AgrosupDijon/BulmaPackage/ViewHelpers"  data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">

    <f:if condition="{menu}">
        <f:variable name="columnConfig">{settings.responsiveimages.contentelements.menu_thumbnail_dir.{data.cols}}</f:variable>
        <f:for each="{layoutClasses}" as="class">
            <f:variable name="allClasses">{allClasses} {class}</f:variable>
            <f:if condition="{class} == 'is-gapless'">
                <f:variable name="gapless" value="1" />
            </f:if>
        </f:for>
        <asd:data.imageVariants as="variants" variants="{variants}" multiplier="{columnConfig.multiplier}" gutters="{f:if(condition: '!{gapless}', then: '{columnConfig.gutters}')}" corrections="{columnConfig.corrections}" />
        <f:render partial="Menu/SkipNavigation" arguments="{_all}" />
        <div class="thumbnail-menu columns is-mobile is-multiline {allClasses}">
            <f:for each="{menu}" as="page">
                <div class="thumbnail-menu-item column {columnConfig.class}">
                    <a href="{page.link}"{f:if(condition: page.target, then: ' target="{page.target}"')} title="{page.title}" class="thumbnail-menu-link" data-toggle="tooltip">
                        <div class="thumbnail-menu-image">
                            <f:if condition="{page.files.0}">
                                <f:render partial="Media/Rendering/Image" arguments="{file: page.files.0, data: page.data, settings: settings, variants: variants}" />
                            </f:if>
                        </div>
                        <div class="thumbnail-menu-caption">
                            <div class="thumbnail-menu-caption-inner">
                                <h3 class="thumbnail-menu-caption-title"><f:format.crop maxCharacters="{settings.menuthumbnail.title.crop}">{page.title}</f:format.crop></h3>
                                <f:if condition="{page.data.subtitle}">
                                    <p class="thumbnail-menu-caption-subtitle"><f:format.crop maxCharacters="{settings.menuthumbnail.subtitle.crop}">{page.data.subtitle}</f:format.crop></p>
                                </f:if>
                            </div>
                        </div>
                    </a>
                </div>
            </f:for>
        </div>
    </f:if>

</f:section>
</html>
