<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{data.code_analytics}">

<f:variable name="type" value="application/javascript" />
<f:variable name="src" value="https://www.googletagmanager.com/gtag/js?id={trackingCodes -> f:first()}" />
<f:if condition="{settings.klaro}">
    <f:then>
        <f:variable name="type" value="text/plain" />
        <f:variable name="dataType" value="application/javascript" />
        <f:variable name="name" value="google-analytics" />
        <f:variable name="dataKlaro" value="{type:dataType,name:name,src:src}" />
    </f:then>
</f:if>

<f:asset.script identifier="analytics_load"
                additionalAttributes="{type:type}"
                src="{src}"
                async="true"
                priority="true"
                data="{dataKlaro}"
/>
<f:if condition="{settings.klaro}">
    <f:then>
        <f:variable name="dataKlaro" value="{type:dataType,name:name}" />
    </f:then>
</f:if>
<f:asset.script priority="true"
                identifier="analytics"
                additionalAttributes="{type:type}"
                data="{dataKlaro}"
>
    console.log('GA enabled');
<f:for each="{trackingCodes}" as="trackingCode" iteration="i">
    var gaProperty<f:format.raw>{i.cycle}</f:format.raw> = '<f:format.raw>{trackingCode}</f:format.raw>';
</f:for>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
<f:for each="{trackingCodes}" as="trackingCode" iteration="i">
    gtag('config', gaProperty<f:format.raw>{i.cycle}</f:format.raw>, {
        'cookie_expires': 34000000,
        'anonymize_ip': true
    });
</f:for>
</f:asset.script>
</f:if>
</html>
