<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{files}">
    <section id="partners" class="section">
        <div class="container">
            <div class="partners">
                <f:for each="{files}" as="file" iteration="fileIteration">
                    <figure class="partner">
                        <f:if condition="{file.properties.title}">
                            <h4 class="heading">
                                <f:format.nl2br>{file.properties.title}</f:format.nl2br>
                            </h4>
                        </f:if>
                        <f:if condition="{file.properties.link}">
                            <f:then>
                                <f:link.typolink parameter="{file.properties.link}" title="{file.properties.title}">
                                    <picture>
                                        <img src="{f:uri.image(image: file, maxWidth: settings.image.maxWidth)}" title="{file.properties.title}"
                                             alt="{file.properties.alternative}">
                                    </picture>
                                </f:link.typolink>
                            </f:then>
                            <f:else>
                                <picture>
                                    <img src="{f:uri.image(image: file, maxWidth: settings.image.maxWidth)}" title="{file.properties.title}"
                                         alt="{file.properties.alternative}">
                                </picture>
                            </f:else>
                        </f:if>
                    </figure>
                </f:for>
            </div>
        </div>
    </section>
</f:if>
</html>
