<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:asd="http://typo3.org/ns/AgrosupDijon/BulmaPackage/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{socialsLinks}">
    <asd:socialsLinks as="groupedLinks" links="{socialsLinks}" />
    <div class="buttons">
        <f:for each="{groupedLinks}" as="type">
            <f:if condition="{f:count(subject: type.data)} > 1">
                <f:then>
                    <div class="dropdown">
                        <div class="dropdown-trigger">
                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu-{type.uniqueId}">
                                <f:render section="icon" arguments="{type: type}" />
                                <span class="icon is-small">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu-{type.uniqueId}" role="menu">
                            <div class="dropdown-content">
                                <f:for each="{type.data}" as="link">
                                    <f:link.typolink class="dropdown-item" parameter="{link.url}">
                                        {link.label}
                                    </f:link.typolink>
                                </f:for>
                            </div>
                        </div>
                    </div>
                </f:then>
                <f:else>
                    <f:link.typolink parameter="{type.data.0.url}" class="button" title="{type.data.0.label}">
                        <f:render section="icon" arguments="{type: type}" />
                        <f:if condition="{type.data.0.force_label}"><span>{type.data.0.label}</span></f:if>
                    </f:link.typolink>
                </f:else>
            </f:if>
        </f:for>
    </div>
</f:if>

<f:section name="icon">
    <span class="icon">
        <f:if condition="{type.iconFile}">
            <f:then>
                <asd:inlineSvg image="{type.iconFile}" />
            </f:then>
            <f:else>
                <i class="{type.icon}"></i>
            </f:else>
        </f:if>
    </span>
</f:section>
</html>
