<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{data.wsd_name}">
<f:asset.script priority="true" identifier="webSiteStructuredData" type="application/ld+json" useNonce="1">
{
    "@context" : "https://schema.org",
    "@type" : "WebSite",
    "name" : "<f:format.raw>{data.wsd_name}</f:format.raw>",<f:if condition="{data.wsd_alternate_name}">
    "alternateName" : {alternateName -> f:format.json()},</f:if>
    "url" : "<f:uri.page pageUid="{rootPageUid}" absolute="1" />"
}
</f:asset.script>
</f:if>
</html>
