<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{settings.searchPid}">
    <form method="post" class="{settings.searchFormClasses}"
          action="{f:uri.page(pageUid:'{settings.searchPid}',additionalParams:'{tx_indexedsearch_pi2: {action:\'search\',controller:\'Search\'}}')}">
        <div class="tx-indexedsearch-hidden-fields">
            <input type="hidden" name="tx_indexedsearch_pi2[search][_sections]" value="0"/>
            <input type="hidden" name="tx_indexedsearch_pi2[search][_freeIndexUid]" value="_"/>
            <input type="hidden" name="tx_indexedsearch_pi2[search][pointer]" value="0"/>
            <input type="hidden" name="tx_indexedsearch_pi2[search][searchType]"
                   value="{settings.searchParams.searchType}"/>
            <input type="hidden" name="tx_indexedsearch_pi2[search][defaultOperand]"
                   value="{settings.searchParams.defaultOperand}"/>
            <input type="hidden" name="tx_indexedsearch_pi2[search][group]" value="{settings.searchParams.group}"/>
            <input type="hidden" name="tx_indexedsearch_pi2[search][mediaType]"
                   value="{settings.searchParams.mediaType}"/>
            <input type="hidden" name="tx_indexedsearch_pi2[search][sortOrder]"
                   value="{settings.searchParams.sortOrder}"/>
            <input type="hidden" name="tx_indexedsearch_pi2[search][languageUid]"
                   value="{settings.searchParams.languageUid}"/>
            <input type="hidden" name="tx_indexedsearch_pi2[search][numberOfResults]" value="10"/>
        </div>
        <div class="{settings.searchFormFieldWrapperClasses}">
            <div class="{settings.searchFormInputWrapperClasses}">
                <input type="text" placeholder="{f:translate(extensionName: 'indexed_search', key: 'form.submit')}"
                       name="tx_indexedsearch_pi2[search][sword]" value="{sword}"
                       class="{settings.searchFormInputClasses}"/>
            </div>
            <div class="control">
                <button class="{settings.searchFormButtonClasses}">
                    <span class="{settings.searchFormButtonIconClasses}">
                        <i class="fas fa-search"></i>
                    </span>
                </button>
            </div>
        </div>
    </form>
</f:if>
</html>
