$address-spacing-top-phone-email: 2rem !default;

address{
  font-style: normal;
  #phone, #email{
    &:not(:first-child){
      margin-top: $address-spacing-top-phone-email;
    }
  }
  #phone + #email{
    margin-top: auto;
  }
  #phone{
    font-weight: $weight-bold;
  }
  #geo{
    a{
      font-size: 0.7rem;
    }
  }
}
