$card-subtitle-color: $subtitle-color !default;

.card-equal-height{
  display: flex;
  flex-direction: column;
  height: 100%;
  & .card-footer {
    margin-top: auto;
  }
}

.card-footer{
  justify-content: space-evenly;
}

.card{
  .no-border &{
    border: none;
    box-shadow: none;

    .card-footer{
      border-top: none;
      margin-top: 0;
    }
  }

  [class*="has-background-"] &{
    .subtitle {
      color: $card-subtitle-color;
    }
  }
}
