//
// Carousel
//

//
// Variables
//
$fontsizeByCols: (1: 100%, 2: 80%, 3: 70%, 4: 50%, 5: 50%, 6: 50%, 7: 50%, 8: 50%, 9: 50%, 10: 50%) !default;
$maxCols: 10 !default;
$carousel-content-flex-alignment: center !default;
$carousel-content-flex-justify: center !default;
$carousel-content-padding: 0 !default;
$carousel-content-padding-desktop: $carousel-content-padding !default;
$carousel-content-padding-tablet: $carousel-content-padding !default;
$carousel-content-padding-mobile: $carousel-content-padding !default;
$carousel-content-text-alignment: center !default;
$carousel-content-text-padding: 2em 4em !default;
$carousel-content-max-width: 80% !default;
$carousel-content-max-width-desktop: $carousel-content-max-width !default;
$carousel-content-max-width-tablet: $carousel-content-max-width !default;
$carousel-content-background-dark: transparentize($black, 40%) !default;
$carousel-content-background-dark-color: $light !default;
$carousel-content-background-light: transparentize($light, 40%) !default;
$carousel-content-text-light-color: $light !default;
$carousel-content-text-dark-color: $dark !default;
$carousel-control-primary: $dark !default;
$carousel-control-secondary: $white !default;
$carousel-control-radius: 50% !default;
$flickity-control-radius: $carousel-control-radius !default;
$flickity-button-background: transparentize($carousel-control-secondary, 25%) !default;
$flickity-button-background-hover: $carousel-control-secondary !default;
$flickity-button-color: $carousel-control-primary !default;
$flickity-page-dots-background: $carousel-control-primary !default;
$flickity-page-dots-color: $carousel-control-secondary !default;
$carousel-title-font-size: 1.75em !default;
$carousel-title-font-weight: $title-weight !default;
$carousel-subtitle-font-size: 1.375em !default;
$carousel-subtitle-font-weight: $subtitle-weight !default;
$carousel-button-font-size: 1.375em !default;
$carousel-button-font-weight: $weight-normal !default;
$flickity-page-dots-border-size: 2px !default;
$flickity-page-dots-border: $flickity-page-dots-border-size solid $flickity-page-dots-color !default;
$flickity-page-dots-radius: $carousel-control-radius !default;
$flickity-page-dots-bottom: 0.8rem !default;
$flickity-page-dots-padding: 0 !default;


//
// Component
//
.carousel{
  &.is-fade{
    background-color: $black;
  }
}

.carousel-item{
  // default
  width: 100%;

  .title:not(:last-child), .subtitle:not(:last-child){
    margin-bottom: 1em;
  }
  .title.is-2{
    font-size: $carousel-title-font-size;
    font-weight: $carousel-title-font-weight;
  }
  .subtitle.is-4{
    font-size: $carousel-subtitle-font-size;
    font-weight: $carousel-subtitle-font-weight;
  }
  .button.is-large {
    font-size: $carousel-button-font-size;
    font-weight: $carousel-button-font-weight;
  }

  @include desktop{
    @for $i from 1 through $maxCols {
      &.has-#{$i} {
        width: (100 / $i) + '%';
        font-size: map_get($fontsizeByCols, $i);
        &.image.is-3by1{
          padding-top: (33.3333 / $i) + '%';
        }
        &.image.is-3by2{
          padding-top: (66.6666 / $i) + '%';
        }
        &.image.is-16by9{
          padding-top: (56.25 / $i) + '%';
        }
        &.image.is-4by3{
          padding-top: (75 / $i) + '%';
        }
        &.image.is-1by1{
          padding-top: (100 / $i) + '%';
        }
        &.image.is-2by3{
          padding-top: (150 / $i) + '%';
        }
        &.image.is-4by1{
          padding-top: (25 / $i) + '%';
        }
        &.image.is-6by1{
          padding-top: (16.6666 / $i) + '%';
        }
        &.image.is-1by2{
          padding-top: (200 / $i) + '%';
        }
        &.image.is-4by5{
          padding-top: (125 / $i) + '%';
        }
      }
    }
  }

  @include tablet-only{
    @for $i from 1 through $maxCols {
      &.has-#{$i}-tablet {
        width: (100 / $i) + '%';
        font-size: map_get($fontsizeByCols, $i);
        &.image.is-3by1-tablet{
          padding-top: (33.3333 / $i) + '%';
        }
        &.image.is-3by2-tablet{
          padding-top: (66.6666 / $i) + '%';
        }
        &.image.is-16by9-tablet{
          padding-top: (56.25 / $i) + '%';
        }
        &.image.is-4by3-tablet{
          padding-top: (75 / $i) + '%';
        }
        &.image.is-1by1-tablet{
          padding-top: (100 / $i) + '%';
        }
        &.image.is-2by3-tablet{
          padding-top: (150 / $i) + '%';
        }
        &.image.is-4by1-tablet{
          padding-top: (25 / $i) + '%';
        }
        &.image.is-6by1-tablet{
          padding-top: (16.6666 / $i) + '%';
        }
        &.image.is-1by2-tablet{
          padding-top: (200 / $i) + '%';
        }
        &.image.is-4by5-tablet{
          padding-top: (125 / $i) + '%';
        }
      }
    }
  }

  @include mobile {
    @for $i from 1 through $maxCols {
      &.has-#{$i}-mobile {
        width: (100 / $i) + '%';
        font-size: map_get($fontsizeByCols, $i);
        &.image.is-3by1-mobile{
          padding-top: (33.3333 / $i) + '%';
        }
        &.image.is-3by2-mobile{
          padding-top: (66.6666 / $i) + '%';
        }
        &.image.is-16by9-mobile{
          padding-top: (56.25 / $i) + '%';
        }
        &.image.is-4by3-mobile{
          padding-top: (75 / $i) + '%';
        }
        &.image.is-1by1-mobile{
          padding-top: (100 / $i) + '%';
        }
        &.image.is-2by3-mobile{
          padding-top: (150 / $i) + '%';
        }
        &.image.is-4by1-mobile{
          padding-top: (25 / $i) + '%';
        }
        &.image.is-6by1-mobile{
          padding-top: (16.6666 / $i) + '%';
        }
        &.image.is-1by2-mobile{
          padding-top: (200 / $i) + '%';
        }
        &.image.is-4by5-mobile{
          padding-top: (125 / $i) + '%';
        }
      }
    }
    .has-ratio{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  figure{
    figcaption{
      display: none;
      //position: absolute;
      //bottom: 1rem;
      //right: 1rem;
      //color: $title-color;
      //&.has-background-transparent-dark{
      //  color: $light;
      //}
    }
  }

  img{
    object-fit: cover;
  }

  .carousel-content{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: $carousel-content-flex-alignment;
    justify-content: $carousel-content-flex-justify;
    padding: $carousel-content-padding;
    @include desktop{
      padding: $carousel-content-padding-desktop;
    }
    @include tablet {
      padding: $carousel-content-padding-tablet;
      &.has-background-transparent-dark .content{
        background-color: $carousel-content-background-dark;
        h1, h2{
          color: $carousel-content-background-dark-color;
        }
      }
      &.has-background-transparent-light .content{
        background-color: $carousel-content-background-light;
      }
    }
    @include mobile {
      padding: $carousel-content-padding-mobile;
      &.has-background-transparent-dark{
        background-color: $carousel-content-background-dark;
        h1, h2{
          color: $carousel-content-background-dark-color;
        }
      }
      &.has-background-transparent-light{
        background-color: $carousel-content-background-light;
      }
    }
    &.has-text-light{
      h1, h2{
        color: $carousel-content-text-light-color;
      }
    }
    &.has-text-dark{
      h1, h2{
        color: $carousel-content-text-dark-color;;
      }
    }
    .content{
      padding: $carousel-content-text-padding;
      text-align: $carousel-content-text-alignment;
      max-width: $carousel-content-max-width;
      @include desktop-only {
        max-width: $carousel-content-max-width-desktop;
      }
      @include tablet-only {
        max-width: $carousel-content-max-width-tablet;
      }
      @include mobile {
        padding: 1em;
        max-width: none;
      }
    }

    z-index: 1;
  }
}

.flickity-page-dots {
  bottom: $flickity-page-dots-bottom;
  .dot{
    margin: 0;
    padding: $flickity-page-dots-padding;
    border: 12px solid transparent;
    border-bottom-width: 8px;
    border-top-width: 8px;
    box-sizing: content-box;
    background-clip: padding-box;
    background: none;
    width: 15px;
    height: 15px;
    &:after{
      border: $flickity-page-dots-border;
      background-color: $flickity-page-dots-background;
      content: " ";
      display: block;
      height: 100%;
      width: 100%;
      border-radius: $flickity-page-dots-radius;
    }
    &:hover{
      opacity: 1;
    }
  }
}

.flickity-button{
  color: $flickity-button-color;
  background-color: $flickity-button-background;
  border-radius: $flickity-control-radius;
  &:hover{
    background-color: $flickity-button-background-hover;
  }
}

@include mobile {
  .flickity-prev-next-button{
    display: none;
  }
}
