$card-subtitle-color: $subtitle-color !default;
$card-border-color: transparent !default;
$card-border-style: none !default;
$card-border-width: 0 !default;
$card-image-padding: 0 !default;
$card-image-link-position: initial !default;
$card-image-link-display: initial !default;

.card-equal-height{
  display: flex;
  flex-direction: column;
  height: 100%;
  & .card-footer {
    margin-top: auto;
  }
}

.card-image {
  padding: $card-image-padding;
  a{
    position: $card-image-link-position;
    display: $card-image-link-display;
  }
}

.card-footer{
  justify-content: space-evenly;
}

.card{
  border: $card-border-width $card-border-style $card-border-color;
  .no-border &{
    border: none;
    box-shadow: none;

    .card-footer{
      border-top: none;
      margin-top: 0;
    }
  }

  .subtitle {
    color: $card-subtitle-color;
  }
}
