$frame-spacing: $block-spacing !default;

.breadcrumb {
  margin: $frame-spacing 0;
}

#main {
  min-height: 100px;
}

.frame {
  position: relative;
  &:not(.is-background-limited){
    padding: $frame-spacing 0;
  }

  &:first-of-type{
    &:not(.frame-space-before-no-space):not([class*="has-background-"]):not(.is-background-limited) {
      padding-top: 0;
      margin-top: $frame-spacing;
    }
  }

  .after-breadcrumb > .columns > .column > &:first-child{
    margin-top: 0;
  }
}

[class*="has-background-"].frame-inner{
  padding: $frame-spacing;
}

.frame-space-before-no-space{
  &.frame, [class*="has-background-"].frame-inner{
    padding-top: 0;
    margin-top: 0;
  }
}

.frame-space-after-no-space{
  &.frame, [class*="has-background-"].frame-inner{
    padding-bottom: 0;
  }
}

#main:not(.column) > .frame-fullwidth {
  .container {
    @extend .is-fluid;

    .container {
      padding: 0;
    }
  }
}

.frame-inner {
  // Login
  .frame-type-felogin_login & {
    @extend .content;
  }
}

@include touch{
  #content{
    & > .container > .columns{
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;

      & > .column {
        margin: 0;
        padding: 0 !important;
      }

      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
