$frame-spacing: $block-spacing !default;

.breadcrumb {
  margin: $frame-spacing 0;
}

#main {
  min-height: 100px;
}

.frame {
  position: relative;
  &:not(.is-background-limited){
    padding: $frame-spacing 0;
  }

  &:first-child{
    &:not(.frame-space-before-no-space):not([class*="has-background-"]):not(.is-background-limited) {
      padding-top: 0;
      margin-top: $frame-spacing;
    }
  }
}

[class*="has-background-"].frame-inner{
  padding: $frame-spacing;
}

.frame-space-before-no-space{
  &.frame, [class*="has-background-"].frame-inner{
    padding-top: 0;
    margin-top: 0;
  }
}

.frame-space-after-no-space{
  &.frame, [class*="has-background-"].frame-inner{
    padding-bottom: 0;
  }
}

#main:not(.column) > .frame-fullwidth {
  .container {
    @extend .is-fluid;

    .container {
      padding: 0;
    }
  }
}

.frame-inner {
  // Login
  .frame-type-felogin_login & {
    @extend .content;
  }

  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.has-background-#{$name}, .has-background-#{$name} &{
      color: $color-invert;

      .title,
      .subtitle,
      th {
        color: $color-invert;
      }

      [class="notification"] {
        color: $text;
      }
    }
  }
}
