$header-navbar-menu-position: relative !default;
$header-navbar-container-position: relative !default;

header{
  .navbar{
    @extend .has-shadow;
    & > .container {
      position: $header-navbar-container-position;
    }
  }

  #navbarMainMenu{
    flex-shrink: 1;
    .navbar-start, .navbar-end{
      flex-wrap: wrap;
    }
  }
}

@include from($navbar-breakpoint) {
  header{
    #navbarMainMenu{
      position: $header-navbar-menu-position;
    }
  }
}
