$icon-group-background-color: $box-background-color !default;
$icon-group-background-color-hover: $primary-light !default;
$icon-group-radius: $box-radius !default;
$icon-group-border: none !default;
$icon-group-shadow: $box-shadow !default;
$icon-group-padding: $box-padding !default;
$icon-group-link-hover-shadow: $box-link-hover-shadow !default;
$icon-group-link-active-shadow: $box-link-active-shadow !default;

.icon-group{
  .column > a {
    .content *{
      color: $link !important;
    }
    &:hover {
      .icon, .content *{
        color: $text !important;
      }
      text-decoration: none;
      background-color: $icon-group-background-color-hover;
    }
  }
  &:not(.boxed) {
    .column > a {
      position: relative;
      &:hover {
        z-index: 0;
        &:before{
          background-color: inherit;
          bottom: -0.75em;
          left: -0.75em;
          position: absolute;
          right: -0.75em;
          top: -0.75em;
          content: "";
          z-index: -1;
        }
      }
    }
  }
  &-item{
    display: flex;
    align-content: stretch;
    height: 100%;
    .boxed & {
        @extend .box;
        border-radius: $icon-group-radius;
        background-color: $icon-group-background-color;
        border: $icon-group-border;
        padding: $icon-group-padding;
        box-shadow: $icon-group-shadow;
    }
    .boxed a& {
        &:hover,
        &:focus {
            box-shadow: $icon-group-link-hover-shadow;
        }
        &:active {
            box-shadow: $icon-group-link-active-shadow;
        }
    }
  }
  .content{
    flex-grow: 1;
    word-break: break-word;
  }
  &-top{
    .icon-group-item{
      flex-direction: column;
      .icon, picture{
        margin-left: auto;
        margin-right: auto;
        & + .content{
          margin-top: 1rem;
        }
      }
    }
  }
  &-left{
    .icon, picture{
      & + .content{
        margin-left: 1rem;
      }
    }
  }
  &-right{
    .icon-group-item {
      flex-direction: row-reverse;
      .icon, picture{
        & + .content{
          margin-right: 1rem;
        }
      }
    }
  }
  &-bottom{
    .icon-group-item {
      flex-direction: column-reverse;
      .icon, picture{
        margin-left: auto;
        margin-right: auto;
        & + .content{
          margin-bottom: 1rem;
        }
      }
    }
  }
  &-right, &-left{
    .is-xxl{
      max-width: 50%;
    }
  }
  &.has-items-center{
    .icon-group-item{
      align-items: center;
    }
  }
  &.has-items-end{
    .icon-group-item{
      align-items: flex-end;
    }
  }
}
