.media-gallery{
  margin-left: auto;
  margin-right: auto;
}

.media-gallery-80{
  max-width: 80%;
}
.media-gallery-60{
  max-width: 60%;
}
.media-gallery-40{
  max-width: 40%;
}
.media-gallery-20{
  max-width: 20%;
}
