$mega-menu-dropdown-padding: 1rem 0 !default;
$mega-menu-dropdown-item-text-decoration-hover: $navbar-dropdown-item-text-decoration-hover !default;
$mega-menu-dropdown-item-text-decoration-active: $navbar-dropdown-item-text-decoration-active !default;
$mega-menu-dropdown-max-columns: 3 !default;
$mega-menu-dropdown-tablet-max-columns: 2 !default;

.navbar-item.is-mega {
  position: static;

  .is-mega-menu-title {
    margin-bottom: 0;
    padding: .375rem 1rem;
  }
}

@include from($tablet) {
  .navbar-item.is-mega {
    .columns:has(> .auto-column){
      column-count: $mega-menu-dropdown-tablet-max-columns;
      @for $i from 1 to $mega-menu-dropdown-tablet-max-columns {
        &:has(> :nth-child(#{$i}):last-child) {
          column-count: $i;
        }
      }
      column-gap: 0;
      display: block;

      .auto-column {
        break-inside: avoid;
        width: auto;
      }
    }
  }
}

@include from($navbar-breakpoint) {
  .navbar-item.is-mega {
    display: block;
    & > .navbar-link{
      min-height: $navbar-height;
      height: 100%;
    }

    .navbar-dropdown {
      right: 0;
      top: initial;

      padding: $mega-menu-dropdown-padding;

      .navbar-item {
        white-space: normal;
        &:hover{
          text-decoration: $mega-menu-dropdown-item-text-decoration-hover;
        }
        &.is-active:not(:focus):not(:hover) {
          text-decoration: $mega-menu-dropdown-item-text-decoration-active;
        }
      }
    }

    .column {
      & > a{
        font-weight: $weight-semibold;
      }
      ul {
        margin-left: 1rem;
        border-left: 1px solid $primary;
      }
    }

    .columns:has(> .auto-column){
      column-count: $mega-menu-dropdown-max-columns;
      @for $i from 1 to $mega-menu-dropdown-max-columns {
        &:has(> :nth-child(#{$i}):last-child){
          column-count: $i;
        }
      }
    }
  }
}

@include until($navbar-breakpoint) {
    .navbar-item.is-mega:not(.is-hoverable):not(.is-active) {
        .navbar-dropdown {
            display: none;
        }
    }
  .navbar-dropdown {
    .container {
      padding: 0;
    }

    .columns {
      margin: 0;
    }

    .column {
      padding: 0;

      ul {
        margin-left: 1.5rem;
        border-left: 1px solid $primary;
      }
    }
  }
}
