.news{
  .news-additional-informations{
    font-size: $small-font-size;
    .icon-text{
      align-items: center;
    }
  }

  .news-gallery, .news-related{
    margin-bottom: $block-spacing;
  }
  .news-related-links{
    p{
      margin-top: 0.25em;
    }
  }
}
