$news-carousel-content-background-dark-color: $carousel-content-background-dark-color !default;

.news{
  .news-additional-informations{
    font-size: $small-font-size;
    .icon-text{
      align-items: center;
    }
  }

  .news-gallery, .news-related{
    margin-bottom: $block-spacing;
  }
  .news-related-links{
    p{
      margin-top: 0.25em;
    }
  }
  .carousel{
    .content{
      *{
        color: $news-carousel-content-background-dark-color;
      }
    }
    .news-additional-informations{
      display: flex;
      .icon-text{
        &:not(:last-of-type){
          padding-right: 1rem;
        }
      }
    }
  }

  .agenda {
      time{
          display: flex;
          align-items: center;
          span{
              display: block;
          }
          width: 160px;
      }
      .news-day{
          color: $link;
          font-size: $size-1;
          font-weight: $weight-bold;
          border-right: 1px solid currentColor;
          padding-right: 0.75rem;
          margin-right: 0.75rem;
          line-height: 0.8;
          .has-background-primary &{
              color: findColorInvert($primary);
          }
      }

      .news-month{
          font-weight: $weight-semibold;
          line-height: $title-line-height;
      }

      .media-content{
          padding-left: 1rem;
      }
      & + .agenda{
          border-top: 0;
          .media-content{
              position: relative;
              &:after{
                  display: block;
                  content: "";
                  height: 1px;
                  background-color: $border;
                  position: absolute;
                  top: -$media-spacing;
                  left: 0;
                  width: 100%;
              }
          }
      }
  }
}
