.partners{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.partner{
  text-align: center;
  margin: 0.25rem 1rem;
}

@include from($tablet){
  .partner{
    width: 12rem;
  }
}