%button {
  @extend .button;
}

.shariff {
  ul {
    @extend .buttons;
    justify-content: flex-end;

    li {
      &:not(:last-child) {
        margin-right: .5rem;
      }
    }

    .shariff-button {
      a{
        @extend %button;
        &:hover {
          text-decoration: none;
        }

        span:first-of-type {
          @extend .icon;
        }
      }
      &.facebook {
        a {
          @extend .is-facebook;
        }
      }
      &.twitter {
        a {
          @extend .is-twitter;
        }
      }
      &.linkedin {
        a {
          @extend .is-linkedin;
        }
      }
    }
  }
}