.tabs {
  &:not(:last-child) {
    margin-bottom: 0;
  }
}

.tabs-content {
  & > ul > li {
    display: none;

    &.is-active {
      display: block;
    }
  }

  .frame {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

// Check https://buefy.org/documentation/tabs/
@include mobile {
  .tabs-wrapper {
    display: flex;

    .tabs{
      max-width: 50%;
      white-space: normal;
      flex-shrink: 0;
      &.is-toggle li{
        margin-bottom: 0.5rem;
        a{
          border-radius: $radius;
        }
      }
      ul {
        flex-shrink: 1;
        flex-direction: column;
        border-bottom-color: transparent;
      }
      li{
        width: 100%;
      }
    }
    .tabs-content{
      ul > li{
        .frame:first-of-type{
          margin-top: 0;
        }
      }
    }
  }
}

@include mobile-small{
  .tabs-wrapper {
    .tabs{
      max-width: 40%;
      font-size: $small-font-size;
    }
  }
}
