$tabs-content-padding: 1.5rem 0 0 0 !default;

.tabs {
  &:not(:last-child) {
    margin-bottom: 0;
  }
}

.tabs-content {
  padding: $tabs-content-padding;
  & > ul > li {
    display: none;

    &.is-active {
      display: block;
    }
  }

  .frame{
    &:first-of-type{
      margin-top: 0 !important;
    }
    &:last-of-type {
      padding-bottom: 0;
    }
  }
}
