//
// Thumbnail Menu
//

//
// Variables
//
$thumbnail-menu-background: $primary !default;
$thumbnail-menu-background-opacity: 0.85 !default;
$thumbnail-menu-background-opacity-hover: 0.5 !default;
$thumbnail-menu-picture-filter: grayscale(1) !default;
$thumbnail-menu-picture-filter-hover: none !default;
$thumbnail-menu-color: findColorInvert($thumbnail-menu-background) !default;
$thumbnail-menu-radius: 0 !default;
$thumbnail-menu-caption-flex-alignment: center !default;
$thumbnail-menu-caption-flex-justify: center !default;
$thumbnail-menu-caption-title-weight: $weight-bold !default;

//
// Component
//
.thumbnail-menu-link {
  display: block;
  overflow: hidden;
  position: relative;
  height: 100%;
  border-radius: $thumbnail-menu-radius;
}

.thumbnail-menu-link,
.thumbnail-menu-link:hover,
.thumbnail-menu-link:focus {
  color: $thumbnail-menu-color;
}

.thumbnail-menu-image {
  overflow: hidden;
  height: 100%;
  picture,
  img,
  svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:empty {
    padding-top: 66.6666%;
  }
}

.frame-type-menu_thumbnail_dir, .frame-type-menu_thumbnail_list {
  &.frame-layout-0 {
    .thumbnail-menu-caption {
      position: absolute;
      display: flex;
      align-items: $thumbnail-menu-caption-flex-alignment;
      justify-content: $thumbnail-menu-caption-flex-justify;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }

    .thumbnail-menu-image:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($thumbnail-menu-background, $thumbnail-menu-background-opacity);
    }

    .thumbnail-menu-caption-inner {
      padding: 1.5em;
      text-align: center;

      > *:first-child {
        margin-top: 0;
      }

      > *:last-child {
        margin-bottom: 0;
      }
    }

    .thumbnail-menu-caption-title {
      font-size: 1.25em;
      margin-bottom: 0.25em;
      font-weight: $thumbnail-menu-caption-title-weight;
    }

    .thumbnail-menu-caption-subtitle {
      line-height: 1.2em;
    }

    .thumbnail-menu-link {
      .thumbnail-menu-image {
        &:after {
          transition: background-color 0.25s ease-in-out;
        }

        picture,
        img {
          transition: filter 0.25s ease-in-out;
          filter: $thumbnail-menu-picture-filter;
        }
      }

      &:hover,
      &:focus {
        .thumbnail-menu-image {
          &:after {
            background-color: rgba($thumbnail-menu-background, $thumbnail-menu-background-opacity-hover);
          }

          picture,
          img {
            filter: $thumbnail-menu-picture-filter-hover;
          }
        }
      }
    }
  }
}

