//
// Thumbnail Menu
//

//
// Variables
//
$thumbnail-menu-background: $primary !default;
$thumbnail-menu-background-opacity: 0.85 !default;
$thumbnail-menu-background-opacity-hover: 0.5 !default;
$thumbnail-menu-border: none !default;
$thumbnail-menu-picture-filter: grayscale(1) !default;
$thumbnail-menu-picture-filter-hover: none !default;
$thumbnail-menu-color: findColorInvert($thumbnail-menu-background) !default;
$thumbnail-menu-caption-title-size: 1.25em !default;
$thumbnail-menu-caption-subtitle-size: $body-font-size !default;
$thumbnail-menu-caption-title-transform: none !default;
$thumbnail-menu-caption-subtitle-transform: none !default;
$thumbnail-menu-radius: 0 !default;
$thumbnail-menu-caption-flex-alignment: center !default;
$thumbnail-menu-caption-flex-justify: center !default;
$thumbnail-menu-caption-inner-alignement: center !default;
$thumbnail-menu-caption-inner-padding: 1.5em !default;
$thumbnail-menu-caption-inner-max-width: 100% !default;
$thumbnail-menu-caption-inner-width: auto !default;
$thumbnail-menu-caption-inner-background-color: transparent !default;
$thumbnail-menu-caption-inner-background-color-hover: transparent !default;
$thumbnail-menu-caption-title-weight: $weight-bold !default;
$thumbnail-menu-caption-subtitle-weight: $weight-normal !default;
$thumbnail-menu-caption-title-color: $thumbnail-menu-color !default;
$thumbnail-menu-caption-subtitle-color: $thumbnail-menu-color !default;
$thumbnail-menu-caption-title-color-hover: $thumbnail-menu-caption-title-color !default;
$thumbnail-menu-caption-subtitle-color-hover: $thumbnail-menu-caption-subtitle-color !default;
$thumbnail-menu-caption-title-color-focus: $thumbnail-menu-caption-title-color-hover !default;
$thumbnail-menu-caption-subtitle-color-focus: $thumbnail-menu-caption-subtitle-color-hover !default;

//
// Component
//
.thumbnail-menu-link {
  display: block;
  overflow: hidden;
  position: relative;
  height: 100%;
  border-radius: $thumbnail-menu-radius;
  border: $thumbnail-menu-border;
}

.thumbnail-menu-image {
  overflow: hidden;
  height: 100%;
  picture,
  img,
  svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:empty {
    padding-top: 66.6666%;
  }
}

.frame-type-menu_thumbnail_dir, .frame-type-menu_thumbnail_list {
  &.frame-layout-0 {
    .thumbnail-menu-caption {
      position: absolute;
      display: flex;
      align-items: $thumbnail-menu-caption-flex-alignment;
      justify-content: $thumbnail-menu-caption-flex-justify;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }

    .thumbnail-menu-image:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($thumbnail-menu-background, $thumbnail-menu-background-opacity);
    }

    .thumbnail-menu-caption-inner {
      padding: $thumbnail-menu-caption-inner-padding;
      text-align: $thumbnail-menu-caption-inner-alignement;
      max-width: $thumbnail-menu-caption-inner-max-width;
      width: $thumbnail-menu-caption-inner-width;
      background-color: $thumbnail-menu-caption-inner-background-color;

      > *:first-child {
        margin-top: 0;
      }

      > *:last-child {
        margin-bottom: 0;
      }
    }

    .thumbnail-menu-caption-title {
      font-size: $thumbnail-menu-caption-title-size;
      text-transform: $thumbnail-menu-caption-title-transform;
      margin-bottom: 0.25em;
      font-weight: $thumbnail-menu-caption-title-weight;
    }

    .thumbnail-menu-caption-subtitle {
      line-height: 1.2em;
      font-size: $thumbnail-menu-caption-subtitle-size;
      text-transform: $thumbnail-menu-caption-subtitle-transform;
      font-weight: $thumbnail-menu-caption-subtitle-weight;
    }

    .thumbnail-menu-link {
      .thumbnail-menu-image {
        &:after {
          transition: background-color 0.25s ease-in-out;
        }

        picture,
        img {
          transition: filter 0.25s ease-in-out;
          filter: $thumbnail-menu-picture-filter;
        }
      }

      .thumbnail-menu-caption-title {
        color: $thumbnail-menu-caption-title-color;
      }

      .thumbnail-menu-caption-subtitle {
        color: $thumbnail-menu-caption-subtitle-color;
      }

      &:hover,
      &:focus {
        .thumbnail-menu-caption-inner {
          background-color: $thumbnail-menu-caption-inner-background-color-hover;
        }

        .thumbnail-menu-caption-title {
          color: $thumbnail-menu-caption-title-color-hover;
        }

        .thumbnail-menu-caption-subtitle {
          color: $thumbnail-menu-caption-subtitle-color-hover;
        }

        .thumbnail-menu-image {
          &:after {
            background-color: rgba($thumbnail-menu-background, $thumbnail-menu-background-opacity-hover);
          }

          picture,
          img {
            filter: $thumbnail-menu-picture-filter-hover;
          }
        }
      }

      &:focus{
        .thumbnail-menu-caption-title {
          color: $thumbnail-menu-caption-title-color-focus;
        }

        .thumbnail-menu-caption-subtitle {
          color: $thumbnail-menu-caption-subtitle-color-focus;
        }
      }
    }
  }
}
