
// Content
$content-heading-color: currentColor !default;
$content-table-cell-heading-color: currentColor !default;
$content-table-head-cell-color: $content-table-cell-heading-color !default;

// Title
$title-color: currentColor !default;
$subtitle-color: currentColor !default;

// Table
$table-cell-heading-color: currentColor !default;
$table-head-cell-color: $table-cell-heading-color !default;

// Navbar
$navbar-item-img-max-height: 6em !default;
$navbar-z: 30 !default;

// Spacing
$block-spacing: 2rem !default;

// Colors
$black-opacity: hsla(0, 0%, 0%, 0.2) !default;

// Dropdown
$dropdown-content-z: $navbar-z + 1 !default;

// Card
$card-radius: 0 !default;
$card-media-margin: 1.5rem !default;