
// Navbar
$navbar-item-img-max-height: 6em !default;
$navbar-z: 30 !default;

// Spacing
$block-spacing: 2rem !default;

// Colors
$black-opacity: hsla(0, 0%, 0%, 0.2) !default;

// Dropdown
$dropdown-content-z: $navbar-z + 1 !default;

// Card
$card-radius: 0 !default;
$card-media-margin: 1.5rem !default;