.ck-dropdown{
    --ck-style-panel-button-width:302px;
    --ck-style-panel-button-height:auto;
}

div[id$=tx_bulmapackage_icon_group_item] .icon-list .item img{
    width: 32px;
    height: 32px;
}

div[id$=tx_bulmapackage_settings_link_item] .icon-list .item .icon-size-small{
    width: 32px;
    height: 32px;
    line-height: 32px;
}

div[id$="tx_bulmapackage_icon_group_item_records"] .form-wizard-icon-list-item button:not(.active, :hover),
div[id$="tx_bulmapackage_settings_link_item_records"] .form-wizard-icon-list-item button:not(.active, :hover) {
    background-color: var(--token-color-neutral-3);
}
