<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:for each="{mainNavigation}" as="item_1">
    <f:variable name="classActive">
        <f:if condition="{item_1.active} && {item_1.data.shortcut} != {rootPage} || {item_1.current}">
            is-active
        </f:if>
    </f:variable>
    <f:variable name="target">
        <f:if condition="{item_1.target}">
            target="{item_1.target}"
        </f:if>
    </f:variable>
    <f:if condition="{item_1.children}">
        <f:then>
            <div class="navbar-item has-dropdown is-hoverable">
                <a href="{item_1.link}" class="navbar-link{classActive}" {target}>{item_1.title}</a>
                <div class="navbar-dropdown">
                    <f:for each="{item_1.children}" as="item_2">
                        <f:render section="sublevel" arguments="{item: item_2, currentUid: data.uid}"/>
                    </f:for>
                </div>
            </div>
        </f:then>
        <f:else>
            <a href="{item_1.link}" class="navbar-item{classActive}" {target}>{item_1.title}</a>
        </f:else>
    </f:if>
</f:for>

<f:section name="sublevel">
    <f:variable name="classActive">
        <f:if condition="{item.active} && {item_1.data.shortcut} != {rootPage} || {item_1.current}">
            is-active
        </f:if>
    </f:variable>
    <f:variable name="target">
        <f:if condition="{item.target}">
            target="{item.target}"
        </f:if>
    </f:variable>
    <f:if condition="{item.children}">
        <f:then>
            <div class="navbar-item nested has-dropdown is-hoverable">
                <a href="{item.link}" class="navbar-link{classActive}" {target}>{item.title}</a>
                <div class="navbar-dropdown">
                    <f:for each="{item.children}" as="subitem">
                        <f:render section="sublevel" arguments="{item: subitem, currentUid: data.uid}"/>
                    </f:for>
                </div>
            </div>
        </f:then>
        <f:else>
            <a href="{item.link}" class="navbar-item{classActive}" {target}>{item.title}</a>
        </f:else>
    </f:if>
</f:section>
</html>
