<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{quickLinksNavigation}">
    <ul>
        <f:for each="{quickLinksNavigation}" as="item">
            <f:variable name="classActive">
                <f:if condition="{item.active} || ({item.data.doktype} == 4 && {item.data.shortcut} == {data.uid})">
                    is-active
                </f:if>
            </f:variable>
            <li><a href="{item.link}" class="{classActive}">{item.title}</a></li>
        </f:for>
    </ul>
</f:if>
</html>
