<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{quickLinks}">
    <ul>
        <f:for each="{quickLinks}" as="item">
            <f:variable name="classActive">
                <f:if condition="{item.current}">
                    is-active
                </f:if>
            </f:variable>
            <li><a href="{item.link}" class="{classActive}">{item.title}</a></li>
        </f:for>
    </ul>
</f:if>
</html>
