<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:asd="http://typo3.org/ns/AgrosupDijon/BulmaPackage/ViewHelpers" data-namespace-typo3-fluid="true">
<f:spaceless>
    <asd:data.imageVariants as="variants" variants="{settings.responsiveimages.variants}" />
    <f:variable name="frameClass">frame-{data.frame_class}</f:variable>
    <f:variable name="typeClass">frame-type-{data.CType}</f:variable>
    <f:variable name="layoutClass">frame-layout-{data.layout}</f:variable>
    <f:variable name="containerDesktop">{f:if(condition: "{data.frame_class} == 'desktop'", then: "is-max-desktop")}</f:variable>
    <f:variable name="backgroundClass">{f:if(condition: "{data.background_color_class} && {data.background_color_class} != none && {data.background_frame} == 'expanded'", then: "has-background-{data.background_color_class}")}</f:variable>
    <f:variable name="backgroundLimited">{f:if(condition: "{data.background_color_class} && {data.background_color_class} != none && {data.background_frame} == 'limited'", then: "is-background-limited")}</f:variable>
    <f:variable name="backgroundClassLimited">{f:if(condition: "{data.background_color_class} && {data.background_color_class} != none && {data.background_frame} == 'limited'", then: "has-background-{data.background_color_class}")}</f:variable>
    <f:variable name="spaceBeforeClass">{f:if(condition: data.space_before_class, then: "frame-space-before-{data.space_before_class}")}</f:variable>
    <f:variable name="spaceAfterClass">{f:if(condition: data.space_after_class, then: "frame-space-after-{data.space_after_class}")}</f:variable>
    <f:variable name="pluginTypeClass">{f:if(condition: "{data.CType} == 'list'", then: "frame-plugin-{data.list_type}")}</f:variable>

    <div id="c{data.uid}" class="frame {frameClass} {typeClass} {layoutClass} {backgroundClass} {backgroundLimited} {spaceBeforeClass} {spaceAfterClass} {pluginTypeClass}">
        <f:if condition="{data.frame_class} != hero">
            <f:then>
                <div class="container {containerDesktop}">
                    <div class="frame-inner {backgroundClassLimited}">
                        <f:render section="Header" optional="true">
                            <f:comment>
                                Do not render header section for specific list_type, so it can be managed directly by the plugin
                            </f:comment>
                            <f:if condition="!{settings.skip_header_rendering.{data.list_type}}">
                                <f:render partial="Header/All" arguments="{_all}"/>
                            </f:if>
                        </f:render>
                        <f:render section="Main" optional="true"/>
                        <f:render section="Footer" optional="true">
                            <f:render partial="Footer/All" arguments="{_all}"/>
                        </f:render>
                    </div>
                </div>
            </f:then>
            <f:else>
                <div class="frame-inner">
                    <f:render section="Header" optional="true">
                        <f:render partial="Header/All" arguments="{_all}"/>
                    </f:render>
                    <f:render section="Main" optional="true"/>
                    <f:render section="Footer" optional="true">
                        <f:render partial="Footer/All" arguments="{_all}"/>
                    </f:render>
                </div>
            </f:else>
        </f:if>
    </div>

</f:spaceless>
</html>
